@charset "UTF-8";
* {
  font-family: 'Raleway', sans-serif !important;
}
*:focus{
	outline: 0;
}
.Template {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.Template__menu {
  position: fixed;
  top: 0;
  height: 55px;
  background: #000;
  width: 100%;
  z-index: 99;
}
.Template__menu__title {
  margin: 0;
  padding: 8px 0 0 0;
  text-align: center;
  color: #fff;
}
.Template__menu__title--bold {
  font-weight: 900;
}
.Template__menu__links {
  list-style-type: none;
  text-align: right;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 17px;
}
.Template__menu__links_link {
  list-style-type: none;
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
}
.Template__menu__links_link a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  padding: 15px 5px 15px 5px;
}
.Template__menu__links_link a:hover {
  background: #fff;
  color: #000;
}
.transition {
  -webkit-transition: ease-in-out .2s;
	-o-transition: ease-in-out .2s;
	transition: ease-in-out .2s;
}
.Form {
  width: 50%;
  margin: 0 auto;
}
.Form__title {
  margin-top: 80px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}
.Form__subtitle {
  margin: 5px 0 5px 0;
  text-align: center;
}
.Form form {
  height: auto;
  background: #cfcfcf;
  border-radius: 9px;
  padding: 25px 15px 25px 15px;
}
.Form__input {
  display: block;
  margin: 10px 0 10px 0;
  border-radius: 16px;
  width: 100%;
  border: none;
  padding: 0 0 0 12px;
  height: 24px;
}
.Form__input--half {
  display: inline-block;
  margin: 10px 12px 10px 12px;
  border-radius: 16px;
  width: 45%;
  border: none;
  padding: 0 0 0 12px;
  height: 24px;
}
.Form__textarea {
  display: block;
  border-radius: 16px;
  border: none;
  width: 100%;
  height: 75px;
  padding: 0 0 0 11px;
}
.Form__select {
  border-radius: 16px;
  display: block;
  background: #fff;
  border: none;
  width: 100%;
  margin: 10px 0 10px 0;
  padding: 0 0 0 12px;
  height: 24px;
}
.Form__button {
  width: 100%;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: 900;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding: 5px 0 5px 0;
}
.Form__button:hover {
  color: #000;
  background: #fff;
}
.JobsList {
  list-style: none;
  padding: 75px 0 0 0;
  max-width: 80%;
  margin: 0 auto;
}
.Job {
  background: #ccc;
  padding: 10px 0 10px 15px;
  margin: 0 0 20px 0;
  border-radius: 10px;
}
.Job:hover {
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
.Job__title {
  border-bottom: solid 1px;
  width: 65%;
}
.Job__title:hover {
  width: 80%;
}
.Job__title h2 {
  font-size: 20px;
  margin: 0 0 8px 0;
  font-weight: 700;
}
.Job__description {
  margin: 6px 0 0 0;
}
.Job__description p {
  font-size: 12px;
}
.Job__button {
  display: inline-block;
  margin: 0 5px 0 5px;
  text-transform: uppercase;
  background: #000;
  color: #fff;
  border-radius: 6px;
  padding: 10px;
  width: 250px;
  text-align: center;
  font-weight: 900;
  font-size: 15px;
  border: solid 1px transparent;
  cursor: pointer;
}
.Job__button:hover {
  background: #fff;
  color: #000;
  border: solid 1px #000;
}
.Job__button a {
  color: inherit;
}
.Job__button a:hover {
  text-decoration: none !important;
}
.Job__button a:focus {
  outline: 0;
}
table::-webkit-scrollbar{ background: #fff ;width: 10px;}
table::-webkit-scrollbar-button{ background: #000;}
table::-webkit-scrollbar-track{}
table::-webkit-scrollbar-track-piece {}
table::-webkit-scrollbar-thumb{ background: #000;}
table::-webkit-scrollbar-corner {}
table::-webkit-resizer{}

.Table {
  margin-top: 85px;
}
.Table__title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.Table table {
  display: block;
  max-height: 65vh;
  overflow: hidden auto;
  width: 80%;
  margin: 0 auto;
}
.Table table tbody {
  display: table;
  margin: 0 auto;
  background: #cfcfcf;
  border-radius: 10px;
  width: 100%;
  text-transform: uppercase;
}
.Table__header {
  background: #000;
  color: #fff;
  text-align: center;
}
.Table__header td {
  padding: 10px 0px 10px 0;
}
.Table__cell {
  height: 40px;
}
.Table__cell td {
  font-size: 13px;
  text-align: center;
}
.Table__action {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #fff;
  border: transparent;
  border-radius: 6px;
  padding: 3px 0 1px 0;
  vertical-align: top;
}
.User {
  background: #cfcfcf;
  display: block;
  width: 80%;
  margin: 0 auto;
  border-radius: 13px;
  padding: 1px 15px 10px 15px;
}
.User__name {
  font-weight: 900;
  margin: 10px 0 5px 0;
}
.User__language {
  font-style: italic;	
}
.User__description {
  margin: 25px 0 25px 0;
  font-weight: 700;
  font-size: 15px;
}
.User__contact {
  font-size: 15px;
  margin: 4px 0 4px 0;
}
.center {
  display: block;
  margin-top: 90px;
}
.not-found {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.not-found__status {
  text-align: center;
  font-size: 150px;
  font-weight: 700;
  color: #000;
  border-bottom: 10px solid #000;
  padding-bottom: 25px;
}
.not-found__text {
  font-style: italic;
  font-weight: 100;
  color: #737070;
  font-size: 16px;
  text-align: center;
}
.not-found__link {
  display: block;
  background: #000;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 36px;
  border: solid 1px transparent;
}
.not-found__link:hover{
  color: #fff;
  border: solid 1px #fff;
  background: #000;
}
.Icon {
  height: 80%;
  width: 80%;
}
.Welcome {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: table;
}
.Welcome__title h2 {
  font-size: 55px;
  font-weight: 100;
  letter-spacing: 15px;	
}
.hidden {
  display: none;
}
.Modal__background {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000000eb;
  top: 0;
}
.MyModal {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  padding: 10px;
  background: #fff;
  border-radius: 7px;
}
.Modal__header {
  position: relative;
}
.Modal__image {
  border-radius: 100%;
  margin: 0;
  padding: 0;
}
.Modal__list {
  margin: 40px 0 0 50px;
  font-size: 20px;
}
.Modal__list li {
  margin: 5px 0 5px 0;
}
#close-modal {
  position: absolute;
  right: 15px;
  cursor: pointer;
  font-size: 30px;
}

@media screen and (max-width: 1000px) {
  .Template__menu__links li {
    padding-top: 17px;
  }

  .Template__menu__links {
    display: block;
    background: #fff;
    padding: 0;
    margin: 0;
  }

  .Template__menu__links_link a {
    color: #000;
  }

  .Login__area__header__title {
    font-size:  30px;
  }

  .Login__area__header__description {
    padding: 8px 0 8px 0;
    width: 85%;
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .Template__menu__links_link a{
    font-size: 9px;
    padding: 0 6px 0 6px;
  }

  .Welcome__title h2{
    text-align: center;
    font-size: 25px;
  }

  .Login__area {
    width: 65%;
    top: 57%;
  }
}

@media screen and (max-width: 425px) {
  .Login__area {
    width: 90%;
  }
  
  .Login__area__header__title{
    padding: 10px 0 7px 0;
  }
}
